:root {
  --black: #000;
  --white: #fff;
  --gray-100: #f7fafc;
  --gray-200: #edf2f7;
  --gray-300: #e2e8f0;
  --gray-400: #cbd5e0;
  --gray-500: #a0aec0;
  --gray-600: #718096;
  --gray-700: #4a5568;
  --gray-800: #2d3748;
  --gray-900: #1a202c;

  --blue-100: #dbeafe;
  --blue-200: #bfdbfe;
  --blue-300: #93c5fd;
  --blue-400: #60a5fa;
  --blue-500: #3b82f6;
  --blue-600: #2563eb;
  --blue-700: #1d4ed8;
  --blue-800: #1e40af;
  --blue-900: #1e3a8a;

  --red-500: #f56565;

  --orange-500: #ed8936;

  --yellow-400: #f6e05e;
  --yellow-500: #ecc94b;
}

body {
  font-family: 'Nunito Sans', sans-serif;
}

.blue-gradient {
  background: linear-gradient(to right, var(--blue-400), var(--blue-500));
}
